<aside>
	<div class="container">
		<nav>
			<ul>
				{% assign sorted_pages = site.pages | sort:"order" %}
				{% for page in sorted_pages %}{% if page.title and page.order %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %}{% endfor %}
				<li><a href="https://gitlab.com/graphviz/graphviz/issues" target="_blank">Issues/Bugs</a></li>
			</ul>
		</nav>
	</div>
</aside>

<header>
	<img src="/Resources/app.png" alt="Graphviz Logo">
	<h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
</header>
